.main {
    display: flex;
    flex-direction: column;
    gap: 120px;
    margin-bottom: 120px;

    @include tablet {
        gap: 80px;
        margin-bottom: 80px;
    }

    @include mobile {
        gap: 60px;
        margin-bottom: 60px;
    }
}